<% if signed_in? %>
  <div class="row">
    <aside class="span4">
      <section>
        <%= render 'shared/user_info' %>
      </section>
      <section>
        <%= render :partial => 'shared/list_form' %>
      </section>
    </aside>
  </div>
<% else %>
  <p>Sorry Dude, You gotta sign in:</p>
  <%= link_to "Sign up now!", signup_path,
                              class: "btn btn-large btn-primary" %>
<% end %>