<% provide(:title, 'About Us') %>
<h1>About Us</h1>
<p>
  My Name is Fiona Chin and this is my first Web Application using Ruby on Rails.  If I have to describe my web designing skills, it looks a little something like this:
</p>